@media (min-width: 992px) {
    .table-container {
        @apply w-full;
        @apply ml-auto mr-auto mt-0 mb-10;
        @apply max-h-[31.25rem];
        @apply overflow-auto;
    }

    .table-container__table {
        @apply w-full;
        @apply border-collapse;
    }

    .table-container__table thead tr th {
        @apply bg-claret;
        @apply text-[#D0CEC8];
    }

    .table-container__table > thead > tr {
        @apply bg-claret;
        @apply text-[#D0CEC8];
        @apply drop-shadow-lg;
    }

    .table-container__table td,
    th {
        @apply p-3;
        @apply text-left;
    }

    .table-container__header {
        @apply sticky;
        @apply top-0;
        @apply z-10;
    }

    .table-container__table tr:nth-child(even) {
        @apply bg-[#27272b];
    }

    .table-container__table tr:nth-child(odd) {
        @apply bg-[#303036];
    }
}

@media (max-width: 991px) {
    .table-container__table td:nth-child(even) {
        @apply bg-[#27272b];
    }

    .table-container__table td:nth-child(odd) {
        @apply bg-[#303036];
    }

    .table-container__table {
        @apply w-auto;
        @apply border-collapse;
    }

    .table-container__table td {
        @apply p-4;
        @apply text-left;
        @apply text-xs;
    }

    .table-container {
        @apply w-full;
        @apply ml-auto mr-auto mt-0 mb-10;
        @apply max-h-[28.125rem];
        @apply overflow-auto;
    }

    .table-container__table--break thead {
        @apply hidden;
    }
    .table-container__table--break tr {
        @apply block;
        @apply mb-1;
    }
    .table-container__table--break tr:last-child {
        @apply mb-0;
    }

    .table-container__table--break td {
        @apply block;
        @apply relative;
        @apply pl-32;
        @apply text-left;
        @apply mb-0;
    }

    .table-container__table--break td::before {
        @apply content-[attr(data-heading)];
        /* content: attr(data-heading); */
        @apply absolute;
        @apply top-0;
        @apply left-0;
        @apply w-[7.5rem];

        height: 100%;
        display: flex;
        align-items: center;
        background-color: #950740;
        color: #d0cec8;
        font-size: 0.8rem;
        padding: 0 5px;
        justify-content: center;
        @apply font-bold;
    }

    .table-container__table--break td:nth-child(even)::before {
        background-color: #af084b;
    }
}
