.backdrop {
	z-index: 999;
	position: fixed;

	-webkit-tap-highlight-color: #fff;
	background-color: #00000080;

	box-sizing: border-box;
	inset: 0;
}

.modal-button {
	@apply rounded-full;
	@apply bg-[#FFEBF2];
	@apply p-1;
	@apply w-full;
	@apply flex;
	@apply items-center;
	@apply mb-4;
	border: 1px solid #ffebf2;
}

.modal-button-icon {
	@apply text-slate-800;
	@apply mr-2;
}

.modal-button-text {
	@apply group-hover:text-slate-800;
	@apply font-medium;
}

.modal-content {
	z-index: 999;
	padding: 1rem;
	width: 40rem;
	min-height: 10rem;
	max-height: 30rem;

	position: fixed;
	top: 10rem;
	left: 50%;

	-webkit-tap-highlight-color: #fff;
	background-color: #000;

	box-sizing: border-box;
	border: 1px solid #fff;
	@apply rounded-xl;

	outline: 0;
	transform: translateX(-50%);
	overflow-y: auto;
}
