.modal__button__icon {
    @apply text-silver;
    @apply mr-2;
}

.modal__button__text {
    @apply text-silver;
    @apply font-medium;
}

.modal__button:hover .modal__button__text {
    background: -webkit-linear-gradient(350deg, #ee4c7c, #f79d65);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal__button:hover .modal__button__icon {
    @apply text-frenchRose;
}

.modal__button {
    @apply rounded-full;
    @apply bg-onxy;
    @apply py-1;
    @apply px-2;
    @apply w-full;
    @apply flex;
    @apply items-center;
    @apply mb-4;
    border: 2px solid #3a3a40;

    @apply hover:border-frenchRose;
}
