.main {
    @apply hidden lg:flex;
    @apply fixed;
    @apply z-20;
    @apply inset-0;
    @apply left-[max(0px,calc(50%-45rem))] right-auto w-[19.5rem];
    @apply px-8;
    @apply h-screen;
    @apply flex-col;
    @apply overflow-hidden;
}

.main__search {
    @apply top-0;
    @apply -ml-0.5;
    @apply mr-6;
}

.main__nav {
    @apply lg:text-sm;
    @apply lg:leading-6;
    @apply overflow-auto;
}

.main__nav > h4 {
    @apply mt-3;
    @apply mb-2;
}

.main__list {
    @apply m-0;
    @apply text-[0.875rem];
}

.main__logo {
    @apply text-3xl;
    @apply my-4;
    @apply py-2;
    background: -webkit-linear-gradient(350deg, #ba1ec2, #f79d65, #ce2d4f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply w-fit;
    block-size: fit-content;
    @apply no-underline;
}

.main__github {
    @apply w-5;
    @apply h-5;
}

.main__menu__icon {
    @apply ml-2;
    @apply text-white;
    @apply opacity-40;
}
